.extra-nav{
    display:flex;
    flex-direction: column;
    align-items: center;
   
    width:100%;
    background-color: aquamarine;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contact-div{
    display: flex;
}
.discount-div{
    display: none;
}
.dropdown-div{
    display: flex;
}
.dropdown{
    display: flex;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .extra-nav{
        flex-direction: row;
        justify-content: space-between;
        height: 30px;
    }
    .contact-div{
        padding-left: 45px;
    }
    .discount-div{
        display:flex;
    }
    .dropdown-div{
        padding-right:45px;
    }
}